@import "../../styles/css-variables.scss";

.grid {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 $side-padding;
  height: 800px;
  margin: 6rem 0;
}

@media only screen and (max-width: 1400px) {
  .grid {
    padding: 0 calc($side-padding - 150px);
  }
}
