@import "../../styles/css-variables.scss";

.header {
  margin: 5rem 0;
  padding: 0 $side-padding;
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
  text-align: left;
}

.cart-container {
  width: 100%;
  padding: 0 $side-padding;
}

@media only screen and (max-width: 1400px) {
  .cart-container,
  .header {
    padding: 0 calc($side-padding - 150px);
  }
}
