@import "../../styles/css-variables.scss";

$height-card: 444px;
$height-image: 340px;

.link {
  color: inherit;
  text-decoration: none;
}
.card {
  width: 386px;
  height: $height-card;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.image-container {
  position: relative;
  width: 100%;
  height: $height-image;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.out-of-stock {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px) saturate(0%);
  color: #8d8f9a;
  font-weight: 400;
  font-size: 1.5rem;
}

.details {
  position: relative;
  width: 100%;
  height: calc($height-card - $height-image);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 1.125rem;

  span:first-child {
    font-weight: 300;
  }
  span:last-child {
    font-weight: 500;
  }
}

.cart-icon {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  right: 30px;
  top: 0;
  transform: translateY(-50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
