@import "../../styles/css-variables.scss";

.currency {
  @include centered-flex;
  margin: 0 1rem;
  font-weight: 500;
  img {
    padding: 10px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
  }
}

.currency-list {
  position: absolute;
  top: 100%;
  width: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  li {
    list-style: none;
    font-weight: 500;
    margin: 1rem;
    cursor: pointer;
  }
  li:hover {
    color: $primary-color;
  }
}

.rotated {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}
