@import "../../styles/css-variables.scss";

.header {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: space-between;
  align-items: center;
  padding: 0 $side-padding;
  img {
    justify-self: center;
  }
}

.navigation {
  ul {
    display: flex;
    li {
      list-style: none;
      margin-right: 1rem;
    }
  }
}

.actions {
  @include centered-flex;
  justify-content: flex-end;
}
